<div class="content">
  <!-- Map container -->
  <div id="map"></div>
  <div class="content-form">
    <mat-card>
      <div class="card-overlay" *ngIf="isLoading">
        <mat-spinner
        strokeWidth="2"
        diameter="50"
        ></mat-spinner>
      </div>

      <div class="step" *ngIf="step === 0">
        <div class="heading">
          <h1 class="title bolder">CALCULAR VIAGEM</h1>
          <p>Para calcular a sua viagem, será necessário preencher os campos abaixo:</p>
          <br />
          <p class="bolder center subtitle">Vamos começar!</p>

          <section class="fields">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Local de partida</mat-label>
              <input type="text"
                     placeholder="Local de partida"
                     aria-label="Local de partida"
                     matInput
                     name="from"
                     [formControl]="locationFromControl"
                     [matAutocomplete]="autoFrom">
              <mat-autocomplete #autoFrom="matAutocomplete">
                <mat-option *ngFor="let municipio of filteredOptionsFrom | async" [value]="municipio.nome + ', ' + municipio.microrregiao.mesorregiao.UF.sigla">
                  {{ municipio.nome }} - {{municipio.microrregiao.mesorregiao.UF.sigla}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>


            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Local de chegada</mat-label>
              <input type="text"
                     placeholder="Local de chegada"
                     aria-label="Local de chegada"
                     matInput
                     name="to"
                     [formControl]="locationToControl"
                     [matAutocomplete]="autoTo">
              <mat-autocomplete #autoTo="matAutocomplete">
                <mat-option *ngFor="let municipio of filteredOptionsTo | async" [value]="municipio.nome + ', ' + municipio.microrregiao.mesorregiao.UF.sigla">
                  {{ municipio.nome }} - {{municipio.microrregiao.mesorregiao.UF.sigla}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
  
            <mat-form-field appearance="fill">
              <mat-label>Aeronave</mat-label>
              <mat-select [(value)]="selectedAirship">
                <mat-option *ngFor="let airship of airships" [value]="airship">
                  {{airship.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </section>
          
        </div>
  
        <div class="buttons">
          <button mat-flat-button color="primary" (click)="calculateRoute()">Próximo</button>
        </div>
      </div>




      <div class="step" *ngIf="step === 1">
        <div class="heading">
          <h1 class="title bolder">CALCULAR VIAGEM</h1>
          <p>Para calcular a sua viagem, será necessário preencher os campos abaixo:</p>

          <section class="fields">
            <mat-form-field appearance="fill">
              <mat-label>Saindo de</mat-label>
              <input disabled [value]="locationFromControl.value" matInput placeholder="Origem">
            </mat-form-field>
  
            <mat-form-field appearance="fill">
              <mat-label>Chegando em</mat-label>
              <input disabled [value]="locationToControl.value" matInput placeholder="Destino">
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Aeronave</mat-label>
              <mat-select disabled  [(value)]="selectedAirship">
                <mat-option *ngFor="let airship of airships" [value]="airship">
                  {{airship.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </section>

          <section class="data driving" style="margin-left: -20px; margin-right: -20px;">
            <!-- <div>
              
            </div> -->
            <figure class="image-container">
              <img src="assets/car.png" alt="Ícone carro">
            </figure>
            <div>
              <mat-icon aria-hidden="false" aria-label="Example home icon">timer</mat-icon>
              <p>{{ statusDriving.duration }}</p>
            </div>
         
            <div>
              <mat-icon aria-hidden="false" aria-label="Example home icon">moving</mat-icon>
              <p>{{ statusDriving.distance.toFixed(2) }} Km</p>
            </div>
          </section>

          <section class="data flying" style="margin-left: -20px; margin-right: -20px;">
            <figure class="image-container">
              <img src="assets/helicopter2.png" alt="Ícone helicoptero">
            </figure>
            <div>
              <mat-icon aria-hidden="false" aria-label="Example home icon">timer</mat-icon>
              <p>{{statusFlying.duration}}</p>
            </div>


            <div>
              <mat-icon aria-hidden="false" aria-label="Example home icon">moving</mat-icon>
              <p>{{statusFlying.distance.toFixed(2)}} Km</p>
            </div>

            <div *ngIf="statusFlying.countFuel">
              <h1 style="margin: 0;">3</h1>
              <p>abastecimentos</p>
            </div>
          </section>

          
        </div>

        <div class="buttons">
          <button mat-flat-button color="primary" (click)="newRoute()">Nova rota</button>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<footer>
  <div>Icons made by <a href="https://www.flaticon.com/authors/dinosoftlabs" title="DinosoftLabs">DinosoftLabs</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</footer>